{%extends "web_base.html"%}
{%block content%}
<legend>Raktadata</legend>
<br>
<br>
<p> Raktadata as its name suggests is a web-app that allows people to search for blood.</p>
<br>
<br>
<P> Donors ie. people who wish to donate blood register and create their profile in the website.</p>
<br>
<br>
<p> Anyone who requires blood fill-up the request form. After the request form has been submitted then the web-app searches suitable donor from the database and texts them the request and the requesters mobile phone number. The donor then calls back the requester.</p>
<br>
<br>
<p>Hope this app helps you.</p>
<br>
<br>
{%endblock%}
